services:
  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    depends_on:
      - api

  api:
    build: ./backend
    ports:
      - "4000:4000"
    depends_on:
      - db

  collector:
    build: ./collector
    depends_on:
      - db
    restart: on-failure

  db:
    image: postgres:15
    environment:
      POSTGRES_DB: state_structure
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
